@media only screen and (min-width: 768px) {
    
    .posts {
        .post {
            max-width: 22rem;
        }
    }
}

@media only screen and (min-width: 1025px) {

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .header1 {
            width: 100%;
            display: block;
        }

        .header2 {
            width: calc(100% - 4rem);
            max-width: calc(80rem - 4rem);

            .date-and-tagline {
                display: block;
            }
        }

        .header3 {
            width: 100%;
            max-width: 80rem;
            
            .donate-and-newsletter {
                display: none;
            }
            
            .categories-nav, .categories-nav.closed {
                position: unset;
                height: unset;
                width: calc(100% - 3rem);

                .categories {
                    height: unset;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    padding: 0.5rem;
                }
            }
        }

        .menu-button {
            display: none;
        }
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        margin-top: 12rem;
        width: 100%;
        max-width: 80rem;
    }
}